<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Menu Management</title>
    <link rel="stylesheet" href="/css/menuManagement.css" />
  </head>
  <body>
    <header>
      <button id="backButton">Back</button>
      <h1>Menu Management</h1>
    </header>
    <div class="container">
      <button class="add-button" onclick="showForm()">Add New Item</button>

      <div class="form-container" id="formContainer">
        <input type="text" id="itemName" placeholder="Item Name" />
        <input type="text" id="category" placeholder="Category" />
        <input type="number" id="price" placeholder="Price" />

        <select id="status">
          <option value="Available">Available</option>
          <option value="Out of Stock">Out of Stock</option>
          <option value="Coming Soon">Coming Soon</option>
        </select>
        <textarea id="description" placeholder="Description"></textarea>
        <button class="submit-button" onclick="addItem()">Submit</button>
      </div>

      <table>
        <thead>
          <tr>
            <th>Name</th>
            <th>Category</th>
            <th>Price</th>
            <th>Description</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody id="menuTable">
          <!-- Items will be added dynamically -->
        </tbody>
      </table>
    </div>

    <script src="/js/menuManagement.js"></script>
  </body>
</html>

