* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.background{
    background-image: url("/images/login_img.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    
}


.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    z-index: 0;
}

.login_container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.7); 
    z-index: 2;
    padding: 48px 68px 48px 68px; 
}


.sign-in{
    color: #FFFFFF;
    margin-bottom: 28px;
    width: 314px;
}

.username{
    background-color: transparent;
    color: white;
    max-width: 314px;
}

form :-ms-input-placeholder{
    color: #FFFFFF;
}

.log_input {
    width: 300px;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.7); 
    color: white;
    font-size: 16px;
}



.log_button {
    padding: 12px 30px;
    border: none;
    background-color: #e50914;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    width: 325px;
    padding: 12px;
    margin: 10px 0;

}

.log_button:hover {
    background-color: #f40612; 
}

.toggle_color {
    color: #FFFFFF;

}
.toggle_color:hover{
    color:#ffffffae;
}







/* menu page  */








.item_list {
    display: flex;
    justify-content: center;
    margin: 25px auto;
}


.items {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 750px;
    height: auto;
    background-color:#f1f1f6 ;
    border: 2px solid rgb(227, 219, 219);
    margin: 25px auto;
    padding: 16px;
    border-radius: 10px;
}

.text-content {
    flex: 1; 
    padding-right: 20px;

}

.dish_name {
    color: black;
    padding: 5px 0;
    font-size: 22px;
    margin: 12px 0 0 0;
}

.dish_price {
    color: black;
    padding: 5px 0;
    font-size: 18px;
    margin: 12px 0 0 0;
}

.dish_discription {
    color: black;
    padding: 5px 0;
    font-size: 14px;
    max-width: 100%; 
    margin: 12px 0 0 0;
}

.right-side {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center; 
    padding-left: 20px;
}

.dish_img {
    background-size: cover;
    width: 120px;
    height: 110px;
    background-color: #347928;
    border-radius: 8px;
    margin-bottom: 10px; 
}



.cart_button{
    width: 104px;
    height: 28px;
}

.cart_button, .counter button {
    padding: 10px ; 
    border-radius: 5px;
    background-color: #28a745; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    font-family: Arial, sans-serif; 
    text-align: center; 

}


.cart_button:disabled, .counter button:disabled {
    background-color: #6c757d; 
}

.counter {
    display: none; 
    align-items: center;
    margin-top: 10px;
    background-color: #f1f1f1; 
    border-radius: 5px; 
    padding: 10px;
    transition: transform 0.3s ease-out; 
    font-size: 16px; 
    font-family: Arial, sans-serif; 
     width: max-content; 
}

.counter.active {
    background-color: #28a745;
    transform: translateY(-10px); 
}

.counter button {
    padding: 5px 15px; 
    font-size: 16px;
    background-color: #28a745;
}

.counter span {
    margin: 0 10px;
    font-size: 16px; 
}

.right-side {
    margin-top: 20px;
}





/*        payments page css      */




.outer {
    width: 750px;
    height: auto;
    background-color: #f1f1f6;
    border: 2px solid rgb(227, 219, 219);
    margin: 25px auto;
    padding: 16px;
    border-radius: 10px;
}

.payment-button {
    display: flex;
    align-items: center;
    background-color: rgb(255, 255, 255);
    color: rgb(255, 9, 9);
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    border: transparent;
    margin-top: 10px; 
    justify-content: flex-start;
}

.square {
    width: 25px;
    height: 25px;
    color: #af4c4c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border-radius: 5px;
    margin-right: 10px;
    border: 0.5px solid black;
}

.text {
    font-size: 16px;
    margin-left: 15px;
}

.payment_txt {
    display: flex;
    align-items: center;
    width: 100%;
    margin-left: 6px;
    font-size: 17px;
    padding-bottom: 5px;
}

.icon {
    width: 50px;
    height: 25px;
    margin-right: 10px; 
}



.box {
    padding-bottom: 30px;
}

.box2 {
    padding-bottom: 5px;
}

.wallet{
   display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 20px; 
    border-radius: 5px; 
    margin-right: 10px;


}

.wallet_icon{
    width: 25px;
    height: 25px;
    margin-left: 3px; 
}




.payment-form {
    margin-top: 20px;
    display: none;
    position: relative;
     padding-top: 60px; 
}


.form-button {
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    width: 752px;
    height: 56px;
    border-radius: 10px;
    margin-top: 10px;
    font-size: 18px;

}


.verify-button {
     background-color:  #e50914; 
    color: white;
}
.verify-button:hover {
    background-color:  #f40612; 
}

.submit-button {
    background-color: #e50914 ;
    color: white;
}
.submit-button:hover {
    background-color: #f40612;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background: none; 
    border: none;
    padding: 0;
    cursor: pointer;
}

.back-button img {
    width: 40px; 
    height: auto;
}

.payment-options {
    display: flex;
    gap: 20px;
}
.payment-options button {
    padding: 10px 20px;
    background-color: #e50914;
    color: white;
    border: none;
    cursor: pointer;
}
.payment-options button:hover {
    background-color: #f40612;
}

.input_box_txt {
    width: 742px;
    height: 50px;
    font-size: 22px;
    border-radius: 10px;

}

.card_div {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
        
.card_details {
    width: 742px;
    height: 50px;
    font-size: 22px;
    border-radius: 10px;
}
        
.card-group {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
        
.card-group input {
    width: 48%;
}
        
#card-type {
    width: 742px;
    height: 50px; 
    font-size: 22px;
    border-radius: 10px;
}
        

#walletsForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    justify-content: center; 
}
        
.select-wallet-text {
    font-size: 20px;
    font-weight: bold;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}
        
.upi_app {
    background-color: transparent;
    border: none;
    padding: 10px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s ease;
    height: 100px;
    width: 100%
}
        
.upi_app:hover {
    transform: scale(1.1);
}
        
.upi-logo {
    width: 80%; 
    height: auto;
    max-width: 120px;
    object-fit: contain;
}
        
.upi_app img {
    width: 100%;
    height: 100%;
}

.upi_app:focus {
    outline: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.select_upi_app{
    justify-content: center;
    align-items: center;
}
        





