.item_list {
    display: flex;
    justify-content: center;
    margin: 25px auto;
}


.items {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start; 
    width: 750px;
    height: auto;
    background-color:#f1f1f6 ;
    border: 2px solid rgb(227, 219, 219);
    margin: 25px auto;
    padding: 16px;
    border-radius: 10px;
}

.text-content {
    flex: 1; 
    padding-right: 20px;

}

.dish_name {
    color: black;
    padding: 5px 0;
    font-size: 22px;
    margin: 12px 0 0 0;
}

.dish_price {
    color: black;
    padding: 5px 0;
    font-size: 18px;
    margin: 12px 0 0 0;
}

.dish_discription {
    color: black;
    padding: 5px 0;
    font-size: 14px;
    max-width: 100%; 
    margin: 12px 0 0 0;
}

.right-side {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center; 
    padding-left: 20px;
}

.dish_img {
    background-size: cover;
    width: 120px;
    height: 110px;
    background-color: #347928;
    border-radius: 8px;
    margin-bottom: 10px; 
}



.cart_button{
    width: 104px;
    height: 28px;
}

.cart_button, .counter button {
    padding: 10px ; 
    border-radius: 5px;
    background-color: #28a745; 
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    display: inline-block;
    font-family: Arial, sans-serif; 
    text-align: center; 

}


.cart_button:disabled, .counter button:disabled {
    background-color: #6c757d; 
}

.counter {
    display: none; 
    align-items: center;
    margin-top: 10px;
    background-color: #f1f1f1; 
    border-radius: 5px; 
    padding: 10px;
    transition: transform 0.3s ease-out; 
    font-size: 16px; 
    font-family: Arial, sans-serif; 
     width: max-content; 
}

.counter.active {
    background-color: #28a745;
    transform: translateY(-10px); 
}

.counter button {
    padding: 5px 15px; 
    font-size: 16px;
    background-color: #28a745;
}

.counter span {
    margin: 0 10px;
    font-size: 16px; 
}

.right-side {
    margin-top: 20px;
}


.btn2 {
    display: block;
    width: 220px;
    margin: 40px auto;
    padding: 14px;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background: linear-gradient(135deg, #FF8C00, #FF4500);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.btn2:hover {
    background: linear-gradient(135deg, #FF4500, #FF2500);
    transform: scale(1.05);
}
